@charset 'UTF-8';
header{
	width: 100%;
	height: 106px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}
.pc_nav{
	display: none;
}
.logo{
	width: 120px;
	height: 32px;
	margin-top: 30px;
	margin-left: 15px;
	float: left;
}
.logo img{
	width: 100%;
	height: 100%;
}
.minu .d{
	display: inline-block;
	font-size: 9px;
	line-height: 18.5px;
}
#button1{
	font-size: 18px;
	line-height: 34px;
	color: #CCC;
}
.muin{
	float: right;
	width: 45px;
	height: 34px;
	margin-top: 30px;
	margin-right: 15px;
	border-radius: 6px;
	text-align: center;
	position: relative;
	line-height: 34px;
	border: 1px solid #CCC;
}
.shu{
	width: 100%;
	height: 157px;
	position: absolute;
	top: 110px; left: 0px;
	z-index: 10;
	background-color: #F7F7F7;
	padding-top: 5px;
	display: none;
	transition: .5s;
}
.shu li a{
	font-size: 10px;
	color: #CCC;
}
.shu li{
	width: 100%;
	height: 31px;
	line-height: 31px;
	text-align: center;
}
.shu li:hover{
	background-color: #FFF;
}
.good{
	width: 100%;
	height: 144px;
}
.batter{
	width: 100%;
	height: 144px;
	margin-left: auto;
	margin-right: auto;
}
.batter li{
	width: 33.33%;
	height: 88px;
	float: left;
	font-size: 14px;
	text-align: center;
	margin-top: 30px;
}
.iconfont{
	font-size: 40px;
	color: #FFC001;
}
.bold{
	display: inline;
	border-bottom: 2px solid #FFC001;
	padding-top: 10px;
}
.good p{
	margin-top: 5px;
}
.gszz{
	width: 100%;
	height: 100px;
	background-color: #FFC001;
}
.gszz h1{
	font-size: 24px;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	padding-top: 14px;
}
.gszz p{
	font-size: 14px;
	color: #FFF;
	margin-right: 16px;
	margin-left: 16px;
	margin-top: 10px;
}
.gsjj{
	width: 100%;
	height: 215px;
	background-color: #FFF;
}
.gsjj h1{
	display: inline-block;
	font-size: 20px;
	color: #000;
	margin-left: 14px;
	padding-top: 20px;
	border-bottom: 2px solid #FFC001;
	padding-bottom: 10px;
	font-weight: normal;
}
.gsjj p{
	font-size: 16px;
	margin-left: 14px;
	margin-right: 14px;
	text-align: left;
	margin-top: 10px;
	line-height: 25px;
}
.img{
	display: none;
}
.cpzs h1{
	display: block;
	font-size: 24px;
	color: #000;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: normal;
}
#zxc ul{
	width: 100%;
	height: 40px;
	margin-bottom: 50px;
}
#zxc ul li{
	width: 22%;
	height: 40px;
	background-color: #CCC;
	border-radius: 20px;
	float: left;
	font-size: 16px;
	margin: 0 3px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
#zxc .on {
	background: red;
}
#boxs {
	width: 100%;
	height: 754px;
	margin: 0 auto;
}
#boxs div {
	display: none;
	width: 100%;
	height: 770px;
}
#boxs div img{
	float: left;
	width: 48%;
	height: 360px;
	margin: 24px 2px 0px 2px;
}
#boxs .show {
	display: block;
}
.sd{
	width: 100%;
	height: 246px;
	background-color: #FFC001;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
.sd h1{
	font-size: 20px;
	font-weight: normal;
	margin-left: 16px;
	padding-top: 23px;
	color: #FFF;
	margin-bottom: 20px;
}
.sd p{
	font-size: 16px;
	font-weight: normal;
	margin-left: 16px;
	margin-right: 16px;
	color: #FFF;
	line-height: 24px;
}
.hz{
	width: 100%;
	height: 193px;
	background-color: skyblue;
}
.hz h1{
	font-size: 20px;
	font-weight: normal;
	padding-top: 23px;
	color: #FFF;
	text-align: center;
	margin-bottom: 20px;
}
.hz p{
	font-size: 16px;
	font-weight: normal;
	margin-left: 20px;
	margin-right: 20px;
	color: #FFF;
	text-align: center;
	line-height: 24px;
}
.xzx{
	width: 100%;
	height: 250px;
}
.xzx h1{
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	margin-left: 16px;
	padding-top: 23px;
	color: #000;
	margin-bottom: 20px;
}
.xzx ul{
	width: 95%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}
.xzx ul li{
	width: 48%;
	height: 270px;
}
.r{
	float: right;
}
.l{
	float: left;
}
.xzx img{
	width: 100%;
	height: 58%;
}
.xzx .p1{
	font-size: 14px;
	margin: 10px 0;
}
.xzx .p2{
	font-size: 14px;
	color: #999999;
	line-height: 20px;
}
.footer{
	display: inline-block;
	width: 100%;
	height: 95px;
	background-color: #000;
	padding-top: 10px;
}
.footer p{
	text-align: center;
	font-size: 12px;
	color: #666666;
	line-height: 22px;
}
